*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

#root,
#__next {
  padding: 10px;
}

td::selection {
  background: rgba(128, 128, 128, 0.5);
  color: inherit;
}

td:focus-visible {
  outline: rgba(0, 128, 0, 1) solid 1px;
}
